{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}
{% block title %}Plant Details{% endblock %}

{% block content %}
<div class="container">


    <div class="plant-card">
            <h2>🌿 Edit Plant Details</h2>

        <img src="{{ plant.image.url }}" alt="{{ plant.name }}" width="200" height="200">
        <h3>Editing: {{ plant.name }}</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="{{ form.name.id_for_label }}">Plant Name:</label>
            {{ form.name }}
            
            <label for="{{ form.price.id_for_label }}">Price:</label>
            {{ form.price }}
            
            <label for="{{ form.life_cycle.id_for_label }}">Life Cycle:</label>
            {{ form.life_cycle }}
            
            <label for="{{ form.old.id_for_label }}">Age:</label>
            {{ form.old }}
            
            <label for="{{ form.image.id_for_label }}">Image:</label>
            {{ form.image }}

            <button type="submit" class="edit-btn">💾 Save Changes</button>
        </form>

        <form method="POST" action="{% url 'delete_plant' plan_id=plant.plan_id %}"
              onsubmit="return confirm('Are you sure you want to delete this plant?');">
            {% csrf_token %}
            <button type="submit" class="delete-btn">🗑️ Delete</button>
        </form>
    </div>

</div>
{% endblock %}
