{% extends 'base.html' %}
{% load static %}

{% block title %}home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/ALL.CSS' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class>
        <p>asfdcz</p>
    </div>

    <div class>
        <h2>🌿 List of Plants</h2>

        <div class="plant-list">
           {% for plant in plants %}
        <div class="plant-card">
            <a href="{% url 'details' plan_id=plant.plan_id %}">
                <img src="{{ plant.image.url }}" alt="{{ plant.name }}" width="200" height="200">
            </a>
            <h3>{{ plant.name }}</h3>
            <p>USER: {{ plant.user.user_id }}</p>
            <p>Price: {{ plant.price }}</p>
            <p>Life Cycle: {{ plant.life_cycle }}</p>
            <p>Age: {{ plant.old }} years</p>
            
        </div>
        {% empty %}
        <p>No plants added yet.</p>
        {% endfor %}
        </div>

    </div>

    <div class>
        <p>Extra section</p>
    </div>
</div>

{% endblock %}
