{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/plant.css' %}">
{% endblock %}

{% block title %}Add Plant{% endblock %}

{% block content %}
<div class="container">
    <div class="form_ra">
        <h1>Add Plant</h1>
        <form method="POST" action="{% url 'plant' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Plant</button>
        </form>
    </div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
